.flex-container {
  display: grid;
  grid-template-columns: 6fr 4fr;
  align-content: flex-start;
  align-items: flex-start;
  grid-gap: 50px;
  max-width: 100vw;
  padding: 0 60px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.shop-container {
  height: 85vh;
  overflow: scroll;
}
.shop-container::-webkit-scrollbar {
  display: none;
}
.notice {
  display: flex;
  height: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
}
.only-mobile-header {
  display: none;
}

@media (max-width: 900px) {
  .flex-container {
    grid-template-columns: 1fr;
  }

  .only-mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
  }
}

@media (max-width: 500px) {
  .flex-container {
    padding: 0 20px;
  }
}